@charset "UTF-8";

body {
    font-size: 16px;
    color: #666666;
    font-family: font_ns, sans-serif;
}

#container {
    margin-top: 170px;
    position: relative;
}

#container .cart {
    background-color: #f6f6f6;
    padding-bottom: 130px;
}

#content {
    padding-top: 0;
    position: relative;
    z-index: 3;
}

#content h2.subTitle_02 {
    text-align: center;
    font-size: 40px;
    color: #292929;
    font-weight: bold;
    letter-spacing: -0.05em;
    padding: 73px 0 50px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}



.tab02 {
    width: 1170px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    box-shadow: 7px 7px 20px 0px rgb(0 0 0 / 10%);
}

.tab02 ul {
    overflow: hidden;
    width: 1170px;
    display: flex;
    border-left: 1px solid #e5e5e5;
}
.tab02 ul li {
    flex: 1;
    border: 1px solid #e5e5e5;
    margin-left: -1px;
    position: relative;
}

.tab02 ul li a {
    display: block;
    height: 68px;
    line-height: 68px;
    position: relative;
    font-size: 18px;
    color: #666666;
    text-align: center;
    background-color: #fff;
}

.tab02 ul li.active {
    z-index: 3;
    border: 1px solid #009223;
}

.tab02 ul li.active a {
    background-color: #009223;
    color: #fff;
}

.tab02 ul li {
    flex: 1;
    border: 1px solid #e5e5e5;
    margin-left: -1px;
    position: relative;
}

.tab02 ul li a {
    display: block;
    height: 68px;
    line-height: 68px;
    position: relative;
    font-size: 18px;
    color: #666666;
    text-align: center;
    background-color: #fff;
}



.data_none wh_box {
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 90px 100px;
    width: 1170px;
}

.data_none {
    padding: 172px 0;
    text-align: center;
}

.data_none p {
    position: relative;
    line-height: 18px;
    letter-spacing: -0.05em;
    color: #999;
    padding-top: 58px;
}

.data_none p:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: url(../resources/images/icon_exc_sm.png) no-repeat;
    width: 40px;
    height: 40px;
}

