@charset "UTF-8";

.list_wrapper {
	background-color: #f6f6f6;
	padding-top: 10px;
}

.choice_option {
	width: 85%;
	margin: 0 auto;
}

.title_name {
	color: #292929;
	font-size: 50px;
	padding-bottom: 11px;
	letter-spacing: -0.055em
}

input+.icon {
	width: 26px;
	height: 26px;
	border: 2px solid #dddddd;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-right: 10px;
	margin-bottom: 10px;
}

ul input[type="radio"]:checked+.icon:before {
	width: 24px;
}

ul input[type="checkbox"], ul input[type="radio"] {
	height: 0;
	opacity: 0;
	width: 0;
	position: absolute;
	left: -10px;
}

ul input[type="checkbox"]:checked+.icon:before {
	width: 24px;
}

.icon:before {
	content: '';
	width: 0;
	height: 20px;
	background: url(../images/common/icon_checkbox.png) 0 0 no-repeat;
	position: absolute;
	left: 4px;
	top: 0;
	transition-duration: 0.2s
}

div>.th_name_step01 {
	background-color: #009223;
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border-radius: 0 20px 0 0;
	margin-top: 15px;
}

div>.th_name_step02 {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border-radius: 0 20px 0 0;
	margin-top: 15px;
	background-color: #FF8300;
}

div>.th_name_step03 {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border-radius: 0 20px 0 0;
	margin-top: 15px;
	background-color: #9631A8;
}

.th_name_step01>strong, .th_name_step02>strong, .th_name_step03>strong {
	color: #ffce32;
	font-size: 18px;
	margin-left: 15px;
}

.wrap_pop {
	display: inline-block;
	width: 140px;
	height: 35px;
	border-radius: 2px;
	background-color: #e5e5e5;
	text-align: center;
	line-height: 35px;
	margin: 15px 0 20px 0;
}

.pop {
	font-weight: 500;
}

.option_display {
	background-color: #fff;
	padding: 20px;
	margin-top: 15px;
	border-radius: 8px;
}

.option_display>dl>dt {
	font-size: 21px;
	font-weight: bold;
	color: #009223;
}

.option_display>dl>dd {
	font-size: 18px;
	margin-top: 10px;
}

span[id^=sum]{
	font-size: 18px;
	font-weight: bold;
	color: #ffce32;
}

#sum>span {
	font-size: 18px;
	font-weight: bold;
	color: #ffce32;
}

.popup_content {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	margin: 20px 0 15px 0;
}

.popup_content>ul:not(:last-child) {
	margin-bottom: 15px;
}

.popup_content>ul>li>label>strong {
	font-size: 18px;
	font-weight: 300px;
	color: #009223;
	padding-right: 10px;
}

.popup_content>ul>li>label>em {
	font-size: 20px;
	font-weight: bold;
}

.popup_content>ul>li>label>span {
	font-size: 18px;
	font-weight: bold;
	color: #ffce32;
}

.popup_content>ul>li>label>span>em {
	font-size: 18px;
	font-weight: bold;
	color: #ffce32;
}

.one {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	margin: 15px 0;
}

#select_set>strong {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

p[id^=selectStep] {
	padding-bottom: 15px;
	margin-top: 0px;
}

.choice_btn, .choice_set_btn {
	width: 120px;
	display: block;
	color: #009223;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #009223;
	background-color: #fff;
	line-height: 40px;
	text-align: center;
	border-radius: 50px;
	margin: 0 auto;
}

.menu_view_wrapper .order_btn {
	display: flex;
	justify-content: center;
	width: 85%;
	background-color: #fff;
	padding-bottom: 50px;
	margin-top: -2em;
	border-top: 2px solid #f6f6f6;
}

.car {
	width: 166px;
	display: inline-block;
	color: #009223;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #009223;
	height: 46px;
	line-height: 46px;
	text-align: center;
	border-radius: 50px;
	transition-duration: 0.2s;
	margin-right: 10px;
	margin-top: 25px;
}

.bill {
	width: 170px;
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	background-color: #009223;
	height: 50px;
	line-height: 50px;
	text-align: left;
	border-radius: 50px;
	text-indent: 35px;
	letter-spacing: -0.03em;
	transition-duration: 0.2s;
	margin-top: 25px;
}

.bill:before {
	content: '';
	display: inline-block;
	width: 21px;
	height: 16px;
	background: url(../images/common/icon_reg.png) 0 0 no-repeat;
	margin-right: 7px;
}