@charset "UTF-8";

#content{background-color:#f6f6f6; padding-bottom: 50px;}

.evnet_slider{
	margin: auto;
    list-style: none;
    position: relative;
    width: 1170px;
    height: 400px;
    padding-bottom: 50px;
}

.top_event_img{
	width: 770px;
    height: 400px;
    float: left;
}

.top_event_info{margin-left:800px; margin-top:16px; position:relative; min-height:380px; top:30px;}
.top_event_info .date{margin-bottom:9px;}
.top_event_info .date em{color:#009223; font-size:22px; font-family:font_sw; font-weight:bold; letter-spacing:-0.015em}
.top_event_info .title{font-size:28px; color:#292929; font-weight:500; line-height:42px; letter-spacing:-0.03em; display:block;}
.top_event_info .summary{font-size:16px; color:#666666; line-height:26px; letter-spacing:-0.04em; margin-top:27px;}
.top_event_info .btn_more{color:#bbbbbb; font-weight:500; font-size:18px; position:absolute; left:0; bottom:16px; letter-spacing:-0.05em; width:140px; height:50px; line-height:50px; background-color:#009223; border-radius:50px; color:#fff; text-indent:21px;}/*2018.02.01 배경색상 수정*/
.top_event_info .btn_more:after{content:''; background:url(../images/common/icon_arr_r01.png) 0 0 no-repeat; width:20px; height:20px; position:absolute; right:10px; top:18px;}

/* 새소식 ::: 이벤트ㆍ프로모션  - list */
.event_list_wrapper{background-color:#f6f6f6;padding-bottom:130px}
.event_list_wrapper .tab_wrapper{text-align:center; padding:50px 0 57px;}
.event_list_wrapper .tab_wrapper ul{overflow:hidden; display:inline-block; border-radius:50px;}
.event_list_wrapper .tab_wrapper ul li{float:left; background-color:#58006c; position:relative; font-weight: bold; font-size: 24px;
height:45px; width:300px; line-height:45px; color:#fff;}

.event_list_wrapper .event_list_content ul{margin-left:-30px;}
.event_list_wrapper .event_list_content ul li{float:left; margin:0 0 30px 30px;}
.event_list_wrapper .event_list_content ul li a{display:block; position:relative; width:370px; height:320px; background-color:#ffffff; overflow:hidden;}
.event_list_wrapper .event_list_content ul li a:after{content:''; position:absolute; left:-10px; right:-10px; top:-10px; bottom:-10px; border:10px solid #009223; transition-duration:0.2s}
.event_list_wrapper .event_list_content ul li a:hover:after{left:0; top:0; right:0; bottom:0}
.event_list_wrapper .event_list_content ul li .event_img{width:370px; height:192px;}
.event_list_wrapper .event_list_content ul li .event_img img{width:100%; height:100%;}
.event_list_wrapper .event_list_content ul li .event_info{padding:10px 26px 0 26px;}
.event_list_wrapper .event_list_content ul li .event_info .title{color:#292929; font-weight:700; line-height:28px; font-size:18px; letter-spacing:-0.04em; display:block; padding-top:9px;}
.event_list_wrapper .event_list_content ul li .event_info .date{position:absolute; left:26px; bottom:23px}
.event_list_wrapper .event_list_content ul li .event_info .date span{background:url(../images/common/icon_clock_s.png) 0 0 no-repeat; width:25px; height:25px; display:inline-block; vertical-align:middle; position:relative; top:1px; margin-right:6px;}
.event_list_wrapper .event_list_content ul li .event_info .date em{color:#009223; font-size:16px; font-weight:bold; position:relative; top:1px;}
