@charset "UTF-8";


.logo {
	padding-top: 40px;
	text-align: center;
}

.logo>a>img {
	width: 202px;
	height: 40px;
}

/* 로그인 / 회원가입 */
.login {
	display: flex;
	justify-content: flex-end;
	float: right;
	margin: -40px 250px 0 0;
}

.before_sign {
	margin-right: 20px;
	margin-top: 6px;
	font-size: 13px;
	font-weight: 500;
	color: #666;
}

/* 메인 메뉴 */
nav #gnb {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	position: relative;
	z-index: 30;
}



#gnb>ul:hover {
	overflow: visible;
}

#gnb:hover {
	height: 350px;
	opacity: 1;
}



#gnb>ul>li {
	display: inline-block;
	position: relative;
}

.sub_header .sub_loc ul li.active a:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: #009223;
}

.dp1 {
	flex: 1;
	font-size: 18px;
	font-weight: 700;
	display: block;
	position: relative;
	width: 160px;
	height: 70px;
	line-height: 70px;
}

.dp1:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -1px;
	width: 0;
	height: 2px;
	background: #fff;
	transition: all 0.5s;
}

#gnb >ul >li a.dp1 {
    font-size: 18px;
    color: #292929;
    font-weight: bold;
    letter-spacing: -0.04em;
    position: relative;
    z-index: 3;
    padding-top: 20px;
    display: block;
}

#gnb >ul >li a.dp1.active, #gnb >ul >li:hover a.dp1 {
    color: #009223;
}

#gnb>ul>li:hover>a:after {
	left: 0;
	width: 100%;
}

#gnb>ul ul {
	position: absolute;
	width: 100%;
	height: 230px;
	padding: 22px 0 0;
	text-align: center;
	opacity: 0;
	transition: all 0.5s;
}

#gnb>ul:hover ul {
	opacity: 1;
}

#gnb>ul ul li {
	line-height: 39px;
}

#gnb>ul ul a {
	position: relative;
	font-size: 14px;
	transition: all 0.5s;
}

#gnb>ul ul a:hover {
	color: #009223;
}

#gnb>ul ul a:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -7px;
	width: 0;
	height: 2px;
	background: #009223;
	transition: all 0.5s;
}

#gnb>ul ul a:hover:after {
	left: 0;
	width: 100%;
}

#container {
    margin-top: 170px;
    position: relative;
}

#header .util_menu {
    position: absolute;
    right: 25px;
    top: 40px;
}

#header .util_menu ul li {
    float: left;
    position: relative;
}

#header .util_menu ul li ~ li {
    margin-left: 30px;
}

#header .util_menu .icon_menu.global_subway {
    margin-left: 15px;
}

#header .util_menu ul li {
    float: right;
    position: relative;
}

html, body, button, dl, dt, dd, div, form, fieldset, legend, h1, h2, h3, h4, h5, h6, input, select, textarea, ul, ol, li, p, pre, table, td, th, caption, a, button, figure {
    margin: 0;
    padding: 0;
    line-height: 120%;
}

element.style {
    position: absolute;
    background-color: transparent;
}

#container {
    margin-top: 0px;
    position: relative;
}

.sub_header .sub_loc ul li.active a {
    color: #009223;
    font-weight: 300;
}

#gnb >ul >li a.dp1.active, #gnb >ul >li:hover a.dp1 {
    color: #009223;
}

.sub_header {

    left: 0;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    height: 59px;

    z-index: 5;
}

.sub_header .logo {
    position: absolute;
    left: 0;
    top: 0px;
    height: 60px;
    width: 110px;
    background: url(../images/common/logo_sub_header.png) 0 50% no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 20px;
    line-height: 0;
    opacity: 0;
}

.sub_header .top {
    position: absolute;
    right: 0;
    top: 0px;
    height: 32px;
    padding-top: 28px;
    font-family: font_sw;
    font-weight: bold;
    color: #bbbbbb;
    font-size: 20px;
    opacity: 0;
}

.sub_header .sub_loc {
    text-align: center;
}

.sub_header .sub_loc ul {
    overflow: hidden;
    display: inline-block;
}

.sub_header .sub_loc ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}

.sub_header .sub_loc ul li {
    float: left;
    position: relative;
}

.sub_header .sub_loc ul li a {
    display: block;
    line-height: 60px;
    color: #999999;
    font-size: 20px;
    letter-spacing: -0.08em;
    position: relative;
}

.sub_header .sub_loc ul li + li {
    padding-left: 24px;
    margin-left: 21px;
}

.sub_header .sub_loc ul li + li:after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 28px;
}

#gnb >ul >li a.dp1.active, #gnb >ul >li:hover a.dp1 {
    color: #009223;
}

div {
    display: block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#content h2.subTitle {
    text-align: center;
    font-size: 60px;
    color: #292929;
    font-weight: 300;
    letter-spacing: -0.07em;
    padding: 40px 0 60px;
    
}

.board_list_wrapper {
    position: relative;
    padding-bottom: 127px;
}

.board_list_wrapper .cont_right {
    float: right;
    margin-bottom: 10px;
}


.board_list_wrapper .board_total {
    color: #999999;
    letter-spacing: -0.045em;
    float: left;
    margin-top: 10px;
}

.board_list_wrapper .board_total strong {
    font-weight: bold;
    color: #009223;
    display: inline-block;
    margin: 0 0 0 3px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.form_search {
    border: 2px solid #dddddd;
    height: 41px;
    display: block;
    vertical-align: middle;
    position: relative;
    padding-right: 42px;
}

.board_list_wrapper .cont_right .form_search {
    width: 224px;
    display: inline-block;
    vertical-align: middle;
}

input {
	vertical-align: middle;
    font-family: font_ns, sans-serif;
    outline: none;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 400 13.3333px Arial;
    vertical-align: middle;
    font-family: font_ns, sans-serif;
    outline: none;
    
}

caption {
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.board_list_wrapper table td .icon_notice {
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url(../images/common/icon_notice.png) 0 0 no-repeat;
}


.content {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    box-sizing: border-box;
    text-indent: initial;
    border-color: grey;
}








td {
    display: table-cell;
    vertical-align: inherit;
    
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}









.board_list_wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 127px;
}

.board_list_wrapper table {
    clear: both;
    border-top: 4px solid #009223;
}








.form_search .btn_search {
    background: url(../images/common/icon_search.png) 50% 50% no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
}

.form_search input {
    border: 0;
    height: 41px;
    width: 100%;
    text-indent: 14px;
    color: #292929;
    font-size: 16px;
}





.board_list_wrapper table td {
    height: 69px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    color: #292929;
    font-size: 16px;
    
}

.board_list_wrapper table td .title {
    text-align: left;
    letter-spacing: -0.04em;
}

.board_list_wrapper table tr.notice td {
    background-color: #f8f8f8;
}

.board_list_wrapper table tr.notice td .title a {
    color: #009223;
    font-weight: bold;
    text-decoration: none;
}

.board_list_wrapper table td .date {
    color: #bbbbbb;
    font-family: font_sw;
}

.board_list_wrapper table td .num {
    color: #ffc300;
    font-family: font_sw;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    
}




.pagination {
    text-align: center;
    margin-top: 34px;
}

.pagination .arr {
    display: inline-block;
}

.pagination .arr.prev {
    margin-right: 97px;
}

.pagination strong, .pagination a {
    font-family: font_sw;
    font-weight: bold;
    font-size: 18px;
    padding: 0 3px;
    margin: 0 10px;
    color: #bbbbbb;
}

.pagination .arr:after {
    content: '';
    display: block;
    width: 8px;
    height: 12px;
    background: url(../images/common/icon_page_arr.png) no-repeat;
}

.pagination a.active {
    display: inline-block;
    color: #009223;
}

.pagination .arr.next {
    margin-left: 97px;
}

.pagination .arr.next:after {
    background-position: 100% 0;
}



#footer {
	background-color: #292929;
	color: #666666;
	padding: 22px 0;
	position: relative;
	z-index: 9
}

#footer:after {
	content: '';
	position: absolute;
	left: 0;
	top: 59px;
	width: 100%;
	height: 1px;
	background-color: #3b3b3b
}

#footer .content {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

#footer .content span {
    color: #666666;
}

#footer .content .util_menu {
	margin-bottom: 25px;
}

#footer .content .util_menu ul {
	overflow: hidden;
}

#footer .content .util_menu ul li {
	float: left;
	margin-right: 29px;
}

#footer .content .util_menu ul li a {
	color: #666666;
	display: block;
	font-size: 14px;
	letter-spacing: -0.05em
}

#footer .content .util_menu ul li a strong {
	color: #bbbbbb
}

#footer .content .util_menu ul li a.eng {
	letter-spacing: 0.05em
}

#footer .content span {
	position: relative;
	display: inline-block;
	margin-top: 19px;
	font-size: 13px;
	padding-left: 9px;
	margin-left: 3px;
	letter-spacing: -0.01em
}

#footer .content span:after {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 2px;
	height: 10px;
	background-color: #666666
}

#footer .content span.addr {
	padding-left: 0;
	margin-left: 0;
	color: #666666;
}

#footer .content span.addr:after {
	display: none;
}

#footer .content .copyright {
	font-family: font_sw;
	font-size: 13px;
	line-height: 25px;
	padding-top: 2px;
	letter-spacing: 0.005em;
	color: #666666;
}

#footer .content .sns_area {
	position: absolute;
	right: 40px;
	bottom: 3px;
	overflow: hidden;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	width: 50px;
	height: 50px;
}

#footer .content .sns_area:after {
	content: '';
	width: 50px;
	height: 50px;
	display: block;
	opacity: 0;
	transition-duration: 0.3s;
}

#footer .content .sns_area:hover:after {
	opacity: 1
}

#footer .content .sns_area.fackbook {
	background: url("../images/common/icon_sns_facebook.png") 0 0 no-repeat;
}

#footer .content .sns_area.fackbook:after {
	background: url("../images/common/icon_sns_facebook.png") 100% 0 no-repeat;
}

#footer .content .sns_area.fackbook:hover:after {
	opacity: 1
}

#footer .content .sns_area.instagram {
	right: 105px;
	background: url("../images/common/icon_sns_instar.png") 0 0 no-repeat;
}

#footer .content .sns_area.instagram:after {
	background: url("../images/common/icon_sns_instar.png") 100% 0 no-repeat;
}