@charset "UTF-8";

#content {
    padding-top: 0;
    position: relative;
    z-index: 3;
}

.form_box h2, .form_box h3 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 26px;
    letter-spacing: -0.05em;
}

.order.fast_sub {
    min-height: 663px;
    padding-bottom: 130px;
    background: url(../images/order/fast_sub/fast_bg.jpg) no-repeat 50% 0 #89cd2f;
}

.bill_order .order_con .form_box {
    margin-bottom: 54px;
}

.order .order_con {
    position: relative;
    background-color: #fff;
}


.bill_order .order_con {
    padding: 86px 100px 100px 100px;
}

input {
    vertical-align: middle;
    font-family: font_ns, sans-serif;
    outline: none;
}

.form_box .write_info_wrap {
    position: relative;
    
}

.form_box .write_info_wrap {
    overflow: hidden;
}

.write_info_wrap .input_set dl {
    background-color: #fff;
   	position:relative;
   	width:200px;
    border: 1px solid #e5e5e5;
    padding: 22px 30px;
}

.info_dl fast {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}

