<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="com.lubway.admin.AdminVO" alias="admin"/>
		<typeAlias type="com.lubway.admin.board.NoticeVO" alias="notice"/>
		<typeAlias type="com.lubway.admin.StoreVO" alias="store"/>
		<typeAlias type="com.lubway.admin.board.EventVO" alias="event"/>
		<typeAlias type="com.lubway.admin.board.EventVO" alias="event"/>
		<typeAlias type="com.lubway.admin.CouponVO" alias="coupon"/>
		
		<typeAlias type="com.lubway.store.StoreInfoVO" alias="storeInfo"/>
		
		<typeAlias type="com.lubway.user.UserVO" alias="user"/>
		<typeAlias type="com.lubway.user.board.UserNoticeVO" alias="usernotice"/>
		<typeAlias type="com.lubway.user.board.UserEventVO" alias="userevent"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappings/admin-mapping.xml" />
		<mapper resource="mappings/user-mapping.xml" />
		<mapper resource="mappings/sms-mapping.xml" />
		<mapper resource="mappings/notice-mapping.xml" />
		<mapper resource="mappings/store-mapping.xml" />
		<mapper resource="mappings/storeInfo-mapping.xml" />
		<mapper resource="mappings/user-notice-mapping.xml"/>
		<mapper resource="mappings/event-mapping.xml"/>
		<mapper resource="mappings/user-event-mapping.xml"/>
		<mapper resource="mappings/coupon-mapping.xml"/>
	</mappers>
</configuration>
