<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="com.lubway.admin.AdminVO" alias="admin"/>
		<typeAlias type="com.lubway.admin.board.NoticeVO" alias="notice"/>
		<typeAlias type="com.lubway.admin.StoreVO" alias="store"/>
		<typeAlias type="com.lubway.admin.board.EventVO" alias="event"/>
		<typeAlias type="com.lubway.admin.CouponVO" alias="coupon"/>
		<typeAlias type="com.lubway.admin.menu.CookieVO" alias="cookie"/>
		<typeAlias type="com.lubway.admin.menu.DrinkVO" alias="drink"/>
		<typeAlias type="com.lubway.admin.menu.MorningVO" alias="morning"/>
		<typeAlias type="com.lubway.admin.menu.NutrientVO" alias="nutrient"/>
		<typeAlias type="com.lubway.admin.menu.SaladVO" alias="salad"/>
		<typeAlias type="com.lubway.admin.menu.SandwichVO" alias="sandwich"/>
		<typeAlias type="com.lubway.admin.menu.WedgeAndSoupVO" alias="wedgeandsoup"/>
		<typeAlias type="com.lubway.admin.menu.WrapVO" alias="wrap"/>
		<typeAlias type="com.lubway.admin.TotalOrderVO" alias="total_order"/>
		
		<typeAlias type="com.lubway.store.StoreInfoVO" alias="storeInfo"/>
		
		<typeAlias type="com.lubway.user.UserVO" alias="user"/>
		<typeAlias type="com.lubway.user.board.UserNoticeVO" alias="usernotice"/>
		<typeAlias type="com.lubway.user.board.UserEventVO" alias="userevent"/>
		<typeAlias type="com.lubway.user.UserCouponVO" alias="usercoupon"/>
		<typeAlias type="com.lubway.user.menu.BreadVO" alias="bread"/>
		<typeAlias type="com.lubway.user.menu.CheeseVO" alias="cheese"/>
		<typeAlias type="com.lubway.user.menu.MeatAddVO" alias="meat"/>
		<typeAlias type="com.lubway.user.menu.SauceVO" alias="sauce"/>
		<typeAlias type="com.lubway.user.menu.ToppingAddVO" alias="topping"/>
		<typeAlias type="com.lubway.user.menu.VegetableVO" alias="vege"/>
		<typeAlias type="com.lubway.user.order.BasketVO" alias="basket" />
		<typeAlias type="com.lubway.user.order.PriceVO" alias="price" />
		<typeAlias type="com.lubway.user.order.OrderCodeVO" alias="order_code" />
		<typeAlias type="com.lubway.user.order.OrderListVO" alias="order_list" />
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappings/admin-mapping.xml" />
		<mapper resource="mappings/user-mapping.xml" />
		<mapper resource="mappings/sms-mapping.xml" />
		<mapper resource="mappings/notice-mapping.xml" />
		<mapper resource="mappings/store-mapping.xml" />
		<mapper resource="mappings/storeInfo-mapping.xml" />
		<mapper resource="mappings/user-notice-mapping.xml"/>
		<mapper resource="mappings/event-mapping.xml"/>
		<mapper resource="mappings/user-event-mapping.xml"/>
		<mapper resource="mappings/coupon-mapping.xml"/>
		<mapper resource="mappings/user-coupon-mapping.xml"/>
		<mapper resource="mappings/sandwich-mapping.xml"/>
		<mapper resource="mappings/wrap-mapping.xml"/>
		<mapper resource="mappings/cookie-mapping.xml"/>
		<mapper resource="mappings/drink-mapping.xml"/>
		<mapper resource="mappings/nutrient-mapping.xml"/>
		<mapper resource="mappings/wedgeandsoup-mapping.xml"/>
		<mapper resource="mappings/salad-mapping.xml"/>
		<mapper resource="mappings/morning-mapping.xml"/>
		<mapper resource="mappings/user-menu-mapping.xml"/>
		<mapper resource="mappings/user-option-mapping.xml"/>
		<mapper resource="mappings/basket-mapping.xml"/>
		<mapper resource="mappings/order-mapping.xml"/>
		<mapper resource="mappings/total-order-mapping.xml"/>
	</mappers>
</configuration>
