<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="com.lubway.admin.AdminVO" alias="admin"></typeAlias>
		<typeAlias type="com.lubway.user.UserVO" alias="user"></typeAlias>
		<typeAlias type="com.lubway.admin.board.NoticeVO" alias="notice"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/admin-mapping.xml" />
		<mapper resource="mappings/user-mapping.xml" />
		<mapper resource="mappings/sms-mapping.xml" />
		<mapper resource="mappings/notice-mapping.xml" />
	</mappers>
</configuration>
